<div class="middle">
<% if !@products_on_index.blank? %>
  <% @products_on_index.each do |product| %>
	<div class="section <%= cycle("section-cms", "section-shop") %>" >
		<div class="left large-part">
			<div class="gallery">
				<div class="inner-gallery">
					<img src="demo/demo-jhmy.jpg"/>
					<img src="demo/demo-shida.jpg"/>
					<img src="demo/demo-bokche.jpg"/>
					<img src="demo/demo-es8bb-com.jpg"/>
				</div>
			</div>
		</div>
		<div class="right small-part">
			<div class="name">
				<div  style="color:#343434;font-weight:bold;font-size:40px;font-family:Impact;float:left;text-align:right;width:50%;">
					<%= product.name %>
				</div>
			</div>
			<div class="price">
				<%= number_to_currency(product.price)%>
			</div>
			<div class="description">
				<%= raw product.description %>
			</div>
			<div class="btn <%= cycle("btn-cms", "btn-shop") %>"">
				<a href="#"><%= I18n.t("know detail") %></a>
			</div>
		</div>
	</div>
  <% end %>	
<% end %>
 </div>
