
<div class="header">
	<div class="head"><%= image_tag "phone.png", {height:12} %><span class="phone">全国免费服务热线：4008008940<span></div>
	<div class="main">
		
		<%=image_tag "pc.png", class:"background-pic"%>
		<div class="left">
			<div class="half_transparent"></div>
			<div class="logo">
				<%= image_tag "logo.png" %>
			</div>
			<div class="logo-text">
				<div class="title">塑梦科技</div>
				<div class="sub-title">Sumeng Information Tech Co, LTD</div>
			</div>
		</div>
		<div class="right">
			<div id="navigate">
				<a href='#'><%=image_tag "home.png" %></a>
				<a href='#'><%=image_tag "product.png" %></a>
				<a href='#'><%=image_tag "globa.png" %></a>
				<a href='#'><%=image_tag "parter.png" %></a>
				<a href='#'><%=image_tag "contact.png" %></a>
			</div>
		</div>
	</div>
</div>